.cover {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #9053c7;
  background: -webkit-linear-gradient(-135deg, #f0deef, #4158d0);
  background: -o-linear-gradient(-135deg, #46dbc2, #b9e97a);
  background: -moz-linear-gradient(-135deg, #c850c0, #4158d0);
  background: linear-gradient(-135deg, #ddcbdc, #4158d0);
}

.cover .group {
  position: absolute;
  width: 514px;
  height: 378px;
  background-color: #ffffff;
  border-radius: 9.96px;
}

.cover .div {
  position: relative;
  width: 434px;
  height: 298px;
  top: 40px;
  left: 41px;
}

.cover .group-2 {
  position: absolute;
  width: 432px;
  height: 159px;
  top: 99px;
  left: 0;
}

.cover .group-3 {
  position: absolute;
  width: 434px;
  height: 79px;
  top: 0;
  left: 0;
}

.cover .text-wrapper {
  position: absolute;
  width: 41px;
  top: 0;
  left: 0;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15.9px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.cover .overlap-group-wrapper {
  position: absolute;
  width: 434px;
  height: 50px;
  top: 29px;
  left: 0;
}

.cover .overlap-group {
  height: 50px;
  position: relative;
  width: 432px;
  border-radius: 9.96px;
}

.cover .text-wrapper-2 {
  position: absolute;
  width: 147px;
  top: 15px;
  left: 50px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #797979;
  font-size: 15.9px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.cover .rectangle {
  position: absolute;
  width: 432px;
  height: 50px;
  top: 0;
  left: 0;
  border-radius: 9.96px;
  border: 1px solid;
  border-color: #d1d1d1;
}

.sms {
  position: absolute;

  width: 25px;
  height: 24px;
  top: 13px;
  left: 15px;
}

.cover .overlap-wrapper {
  cursor: pointer;
  position: absolute;
  width: 434px;
  height: 60px;
  top: 99px;
  left: 0;
}

.cover .overlap {
  height: 60px;
  background: linear-gradient(
    180deg,
    rgb(255, 167.25, 167.25) 0%,
    rgb(255, 1.49, 77.54) 100%
  );
  position: relative;
  width: 432px;
  border-radius: 9.96px;
}

.cover .text-wrapper-3 {
  position: absolute;
  width: 193px;
  top: 21px;
  left: 119px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 15.9px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.cover .text-wrapper-4 {
  position: absolute;
  width: 116px;
  top: 279px;
  left: 156px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15.9px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  cursor: pointer;
}

.cover .group-4 {
  position: absolute;
  width: 360px;
  height: 78px;
  top: 0;
  left: 60px;
}

.cover .text-wrapper-5 {
  position: absolute;
  width: 253px;
  top: 0;
  left: 29px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 27.9px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}
.frame-4 {
  top: 198px;
  background-color: #f7f1ff;
  border-radius: 7px;
  position: absolute;
  width: 273px;
  height: 40px;
  left: 93px;
}

.input100 {
  line-height: 1.5;
  color: #666666;
  display: block;
  width: 100%;
  border: none;
  background: none;
  height: 50px;
  border-radius: 8px;
  padding: 0 0px 0 55px;
  border: 1px solid;
  border-color: #d1d1d1;
}

.text-wrapper-5 {
  position: absolute;
  width: 253px;
  top: 0;
  left: 29px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 27.9px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}
.cover .p {
  position: absolute;
  width: 356px;
  top: 51px;
  left: 0;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #797979;
  font-size: 15.9px;
  letter-spacing: 0;
  line-height: normal;
}
:root {
  --purple: rgba(152, 90, 206, 1);
  --purple-shadow: 0px 0px 2px 0px rgba(152, 90, 206, 0.25);
  --drop-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
