<div class="cover">
    <div class="group">
        <div class="div">
            <div class="group-2">
                <div class="group-3">
                    <div class="text-wrapper">Email</div>
                    <div class="overlap-group-wrapper">
                        <div class="overlap-group">
                            <input class="input100" type="text" name="username" placeholder="Địa chỉ email của bạn"
                                ngModel>
                            <img class="sms" src="../../../assets/images/sms.jpg" />
                        </div>

                    </div>
                </div>
                <div class="overlap-wrapper">
                    <div class="overlap">
                        <div class="text-wrapper-3">Request password reset</div>
                    </div>
                </div>
            </div>
            <div routerLink="/login" class="text-wrapper-4">Back to Sign in</div>
            <div class="group-4">
                <div class="text-wrapper-5">Forgot Password?</div>
                <p class="p">Please enter the email you use to sign in.</p>
            </div>
        </div>
    </div>
</div>