<div class="cover">
    <p-toast></p-toast>
    <div class="group">
        <div class="div">
            <form action="">
                <div class="group-2">
                    <div class="group-3">
                        <div class="text-wrapper">Email</div>
                        <div class="overlap-group-wrapper">
                            <div class="overlap-group">
                                <input class="input100" type="text" name="username" [(ngModel)]="email"
                                    placeholder="Địa chỉ email của bạn" ngModel>
                                <img class="sms" src="../../../assets/images/sms.jpg" />
                            </div>

                        </div>
                    </div>
                    <div class="overlap-wrapper">
                        <div class="overlap">
                            <div class="text-wrapper-3" (click)="resetPass()">Yêu cầu đặt lại mật khẩu</div>
                        </div>
                    </div>
                </div>
            </form>
            <div routerLink="/login" class="text-wrapper-4">Quay lại đăng nhập</div>
            <div class="group-4">
                <div class="text-wrapper-5">Đổi mật khẩu?</div>
            </div>
        </div>
    </div>
</div>