<div class="container">
  <h2 style="text-align: center; margin: 20px 0">Đơn hàng của bạn</h2>

  <ul class="nav nav-tabs" role="tablist">
    <li
      *ngFor="let item of listMenuItems"
      class="nav-item"
      role="presentation"
      style="width: 16.66%; cursor: pointer"
    >
      <a
        class="nav-link"
        data-bs-toggle="tab"
        aria-selected="false"
        role="tab"
        tabindex="-1"
        style="
          display: flex;
          align-items: center;
          justify-content: center;
          height: 50px;
        "
        (click)="clickListOder(item.name)"
        [class]="checkString == item.name ? 'text-primaryyy' : ''"
      >
        {{ item.name }}
        <span style="margin-bottom: 15px">
          <p-badge [value]="item.quantity"></p-badge>
        </span>
      </a>
    </li>
  </ul>

  <ng-container>
    <p-table
      #dt
      [value]="order"
      [rows]="5"
      [paginator]="true"
      [globalFilterFields]="[
        'name',
        'country.name',
        'representative.name',
        'status'
      ]"
      [tableStyle]="{ 'min-width': '75rem' }"
      [rowHover]="true"
      dataKey="id"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [showCurrentPageReport]="true"
    >
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 4rem">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th pSortableColumn="code" style="min-width: 15rem">Mã HĐ</th>
          <th pSortableColumn="receivedBy">Người nhận</th>
          <th pSortableColumn="totalPrice">Tổng tiền</th>
          <th pSortableColumn="shipPrice">Phí ship</th>
          <th pSortableColumn="createdDate" style="min-width: 10rem">
            Ngày mua
          </th>
          <th pSortableColumn="userAddress">Địa chỉ</th>
          <th style="width: 5rem"></th>
          <th style="width: 5rem"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-order>
        <tr>
          <td>
            <p-tableCheckbox [value]="order"></p-tableCheckbox>
          </td>
          <td>{{ order.code }}</td>
          <<<<<<< HEAD
          <td>{{ order.totalPrice }}đ</td>
          =======
          <td>{{ order.receivedBy }}</td>
          <td>{{ order.totalPrice }}đ</td>
          >>>>>>> 296639269802cb581d2796e39e5fcbd754abc88a
          <td>{{ order.shipPrice }}đ</td>
          <td>
            {{ order.createdDate | date : "dd-MM-yyyy" }}
          </td>
          <td>
            {{ order.userAddress.provinceName }},
            {{ order.userAddress.districtName }},
            {{ order.userAddress.wardName }}
          </td>
          <td>
            <button
              type="button"
              pButton
              pRipple
              [pRowToggler]="order"
              class="p-button-text p-button-rounded p-button-plain"
              [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-left'"
              (click)="!expanded && getShoes(order.code)"
            ></button>
          </td>
          <td>
            <button
              pButton
              pRipple
              icon="pi pi-shopping-cart"
              class="p-button-rounded p-button-primry mr-2"
              (click)="returnOrder(order.id)"
              *ngIf="checkString == 'Hoàn thành'"
            ></button>
            <button
              pButton
              pRipple
              icon="pi pi-eye"
              class="p-button-rounded p-button-success mr-2"
              (click)="showOderDetails(order.id)"
            ></button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="rowexpansion" let-order>
        <tr>
          <td colspan="7">
            <div class="p-3">
              <p-table
                [value]="orderDetailData[order.code]"
                dataKey="code"
                [rows]="5"
                [paginator]="true"
                [tableStyle]="{ 'min-width': '60rem' }"
              >
                <ng-template pTemplate="header">
                  <tr>
                    <th pSortableColumn="image">
                      <div class="th">Ảnh</div>
                    </th>
                    <th pSortableColumn="nameShoes">
                      <div class="th">Thông tin sản phẩm</div>
                    </th>
                    <th pSortableColumn="price">
                      <div class="th">Giá</div>
                    </th>
                    <th pSortableColumn="quantity">
                      <div class="th">Số lượng</div>
                    </th>
                    <th style="width: 4rem"></th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-orderDetailData>
                  <tr>
                    <td>
                      <img
                        [src]="orderDetailData.path"
                        [alt]=""
                        width="100"
                        height="100"
                        class="shadow-4"
                      />
                    </td>
                    <!-- <td>{{ orderDetailData.shoesDetails.size.name }}</td> -->
                    <td>
                      <div>
                        <span>Tên giày:</span> {{ orderDetailData.nameShoes }}
                      </div>
                      <div>
                        <span>Hãng:</span> {{ orderDetailData.nameBrand }}
                      </div>
                      <div>
                        <span>Size:</span> {{ orderDetailData.nameSize }}
                      </div>
                      <div>
                        <span>Màu:</span> {{ orderDetailData.nameColor }}
                      </div>
                    </td>
                    <td>
                      <span>{{ orderDetailData.priceShoes }}</span>
                    </td>
                    <td>{{ orderDetailData.quantity }}</td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </td>
          <!-- <td>{{ orderDetailData.shoesDetails.size.name }}</td> -->
          <td>
            <div><span>Tên giày:</span> {{ orderDetailData.nameShoes }}</div>
            <div><span>Hãng:</span> {{ orderDetailData.nameBrand }}</div>
            <div><span>Size:</span> {{ orderDetailData.nameSize }}</div>
            <div><span>Màu:</span> {{ orderDetailData.nameColor }}</div>
          </td>
          <td>
            <span *ngIf="orderDetailData.discount == null"
              >{{ orderDetailData.priceShoes }}đ</span
            >
            <span *ngIf="orderDetailData.discount != null">
              <small
                ><del style="color: red"
                  >{{ orderDetailData.priceShoes }}đ</del
                ></small
              >
              <div>{{ orderDetailData.discount }}đ</div>
            </span>
          </td>
          <td>{{ orderDetailData.quantity }}</td>
        </tr>
      </ng-template>
    </p-table>
  </ng-container>
</div>
