.body{
    background-color: #f3f3ec;
}
.container {
    font-family: SemiBold;
}
.title-register{
    font-weight: bold;
    font-size: 32px;
    font-family: SemiBold;
}
.input{
    margin-top: 20px;
}
input{
    width: 100%;
    height: 48px;
    border-radius: 9px;
}
.address{
    height: 69px;
}
.col-4{
    margin-top: 10px;
}
.button{
    margin-top: 20px;
    margin-bottom: 30px;
    position: relative;
    width: 475px;
    height: 48px;
}
.button-register{
    width: 100%;
    height: 48px;
    position: absolute;
    left: 0px;
    border: 1px solid black;
    border-radius: 15px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-weight: bold;
}
.text-register{
    border-radius: 9px;
    font-weight: bold;
    position: absolute;
    left: 5%;
    top: 20%;
}
.col-lg-6{
    background-color: white;
    border-radius: 16px;
    height: 400px;
}
.box{
    width: 100%;
    height: 400px;
}
.title-label{
    font-family: SemiBold;
    font-size: 36px;
}
.button-join{
    background-color: black;
    border-radius: 16px;
    position: relative;
    height: 48px;
    width: 100%;
    color: rgb(255, 255, 255);
}
.icon-1{
    position: absolute;
    right: 5%;
    top: 25%;
}
.text-join{
    font-weight: bold;
    position: absolute;
    left: 5%;
    top: 20%;
}
.button-join:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
.button-register:hover{
    background-color: white;
    color: black;
}
.text {
    padding: 0 10px;
}
.icon {
    position: absolute;
    right: 5%;
    top: 25%;
}
small{
    color: red;
}
.custom-autocomplete {
    height: 48px;
  }