<body class="body">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <p class="title-register">Đăng ký</p>
                <form class="group" [formGroup]="registionForm" (ngSubmit)="registion()">
                    <div class="input">
                        <input class="firstname text" type="text" placeholder="Tên" name="firstName" formControlName="firstName">
                        <small
                            *ngIf="registionForm.get('firstName')?.hasError('required') && isFormControlInvalidAndTouched('firstName')">
                            Hãy nhập tên
                        </small>
                    </div>
                    <div class="input">
                        <input class="lastname text" type="text" placeholder="Họ" name="lastName" formControlName="lastName">
                        <small
                            *ngIf="registionForm.get('lastName')?.hasError('required') && isFormControlInvalidAndTouched('lastName')">
                            Hãy nhập họ
                        </small>
                    </div>
                    <div class="input">
                        <input class="email text" type="text" placeholder="Email" name="email" formControlName="email">
                        <small
                            *ngIf="registionForm.get('email')?.hasError('required') && isFormControlInvalidAndTouched('email')">
                            Hãy nhập email</small>
                        <small
                            *ngIf="registionForm.get('email')?.hasError('duplicateEmail') && isFormControlInvalidAndTouched('email')">
                            Email đã tồn tại</small>
                        <small
                            *ngIf="registionForm.get('email')?.hasError('email') && isFormControlInvalidAndTouched('email')">
                            Email không đúng định dạng</small>
                    </div>
                    <div class="input">
                        <input class="username text" type="text" placeholder="Tài khoản" name="username" formControlName="login">
                        <small
                            *ngIf="registionForm.get('login')?.hasError('required') && isFormControlInvalidAndTouched('login')">
                            Hãy nhập tài khoản
                        </small>
                        <small
                            *ngIf="registionForm.get('login')?.hasError('duplicateLogin') && isFormControlInvalidAndTouched('login')">
                            Tài khoản đã có người dùng
                        </small>
                    </div>
                    <div class="input">
                        <input class="password text" type="password" placeholder="Mật khẩu" name="password" formControlName="passwordHash">
                        <small
                            *ngIf="registionForm.get('passwordHash')?.hasError('required') && isFormControlInvalidAndTouched('passwordHash')">
                            Hãy nhập mật khẩu
                        </small>
                        <small
                            *ngIf="registionForm.get('passwordHash')?.hasError('minlength') && isFormControlInvalidAndTouched('passwordHash')">
                            Mật khẩu cần có ít nhất 6 kí tự
                        </small>
                    </div>
                    <div class="input">
                        <input class="confirm text" type="password" placeholder="Nhập lại mật khẩu" name="confirmPassword" formControlName="confirmPassword">
                        <small
                            *ngIf="registionForm.get('confirmPassword')?.hasError('required') && isFormControlInvalidAndTouched('confirmPassword')">
                            Hãy nhập lại mật khẩu
                            </small>
                        <small
                            *ngIf="registionForm.get('confirmPassword')?.hasError('mustMatch') && isFormControlInvalidAndTouched('confirmPassword')">
                            Không trùng với mật khẩu
                        </small>
                    </div>
                    <div class="button">
                        <button class="button-register">
                            <div class="text-register" type="submit">Đăng ký</div>
                            <span class="icon">
                                <i class="pi pi-arrow-right"></i>
                            </span>
                        </button>
                    </div>
                </form>
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-6">
                <div class="box">
                    <div class="group">
                        <p class="title-label">ShoesStore Nhận thưởng ngay hôm nay.</p>
                        <p>Là thành viên của ShoesStore, bạn sẽ nhận được phần thưởng khi làm những gì bạn yêu thích.
                             Đăng ký ngay hôm nay và nhận ngay quyền truy cập vào các lợi ích này:</p>
                        <div>
                            <ul>
                                <li>Miễn phí vận chuyển</li>
                                <li>Giảm giá 10% cho đơn hàng đầu tiên</li>
                            </ul>
                        </div>
                        <p>Tham gia ngay để nhận những ưu đãi hấp dẫn.​</p>
                        <button class="button-join">
                            <div class="text-join">Join the store</div>
                            <span class="icon-1">
                                <i class="pi pi-arrow-right"></i>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</body>