<body>
    <div class="container-register">
        <div class="box">
            <div class="view-lg">
                <div class="text-login" routerLink="/login">Đăng nhập</div>
            </div>
            <div class="view-rs">
                <div class="text-register">Đăng ký</div>
            </div>
            <form class="group" [formGroup]="registionForm" (ngSubmit)="registion()">
                <div class="group-input">
                    <div class="title">Họ</div>
                    <input class="input100" type="text" name="lastName" formControlName="lastName">
                </div>
                <div class="group-input">
                    <div class="title">Tên</div>
                    <input class="input100" type="text" name="firstName" formControlName="firstName">
                </div>
                <div class="group-input">
                    <div class="title">Gmail</div>
                    <input class="input100" type="text" name="gmail" formControlName="email">
                </div>
                <div class="group-input">
                    <div class="title">Tài khoản</div>
                    <input class="input100" type="text" name="username" formControlName="login">
                </div>
                <div class="group-input">
                    <div class="title">Mật khẩu</div>
                    <input class="input100" type="password" name="password" formControlName="passwordHash">
                </div>
                <div class="group-input">
                    <div class="title">Nhập lại mật khẩu</div>
                    <input class="input100" type="password" name="confirmPassword" formControlName="confirmPassword">
                </div>
                <button class="button-register">
                    <div class="button-rs-text" type="submit">Đăng ký</div>
                </button>
            </form>
            
            <div class="button-gg">
                <img class="flat-color-icons" src="../../../assets/images/flat-color-icons_google.jpg" />
                <div class="gg-text">Đăng nhập với google</div>
            </div>
        </div>
    </div>
</body>
