<div class="desktop">
    <div class="overlap-wrapper">
        <div class="overlap">
            <div class="overlap-group">
                <div class="group">
                    <div class="div">
                        <img class="ellipse" src="img/ellipse-3.svg" />
                        <img class="element" src="img/9a069b24-fc2f-4853-9695-6b4e9514ae28-1-no-bg.png" />
                    </div>
                </div>
                <div class="frame"></div>
                <div class="frame-2"></div>
                <div class="frame-3"></div>
                <div class="text-wrapper">Vintage Collection</div>
                <div class="text-wrapper-2">SNEAKERS</div>
                <div class="text-wrapper-3">SALE</div>
                <p class="p">Half the price, twice the style.</p>
                <div class="frame-4"></div>
                <div class="text-wrapper-4">SHOP NOW</div>
                <div class="frame-5">
                    <div class="NAVBAR">
                        <div class="SAMEER-IN">
                            <div class="text-wrapper-5">SAMEER.IN</div>
                        </div>
                        <div class="home">
                            <div class="text-wrapper-6">Home</div>
                        </div>
                        <div class="about">
                            <div class="text-wrapper-6">About</div>
                        </div>
                        <div class="product">
                            <div class="text-wrapper-6">Product</div>
                        </div>
                        <div class="testimonials">
                            <div class="text-wrapper-6">Testimonials</div>
                        </div>
                    </div>
                    <div class="overlap-2">
                        <div class="frame-6"></div>
                        <div class="text-wrapper-7">SHOP NOW</div>
                    </div>
                </div>
                <div class="img-wrapper"><img class="img" src="img/img-1.png" /></div>
                <img class="group-2" src="img/group-13.png" />
                <img class="group-3" src="img/group-12.png" />
            </div>
            <img class="group-4" src="img/group-11.png" />
        </div>
    </div>
</div>