<body>
    <div class="box">
        <p-toast></p-toast>
        <div class="add-user">
            <div type="button" (click)="openUserDal()" class="add-button">
                <i class="pi pi-plus"></i>
                <div class="add-text">New User</div>
            </div>
            <p-dialog header="Chi tiết người dùng" [(visible)]="userDialog" [modal]="true" styleClass="container-fuild"
                [draggable]="false" [resizable]="true">
                <form [formGroup]="userForm" (submit)="addUser()">
                    <div class="group-input">
                        <div class="title">FirstName</div>
                        <input class="input100" type="text" name="firstName" formControlName="firstName">
                        <small
                            *ngIf="userForm.get('firstName')?.hasError('required') && isFormControlInvalidAndTouched('firstName')">
                            FirstName is required.
                        </small>
                    </div>
                    <div class="group-input">
                        <div class="title">LastName</div>
                        <input class="input100" type="text" name="lastName" formControlName="lastName">
                        <small
                            *ngIf="userForm.get('lastName')?.hasError('required') && isFormControlInvalidAndTouched('lastName')">
                            LastName is required.
                        </small>
                    </div>
                    <div class="group-input">
                        <div class="title">Gmail</div>
                        <input class="input100" type="text" name="gmail" formControlName="email">
                        <small
                            *ngIf="userForm.get('email')?.hasError('required') && isFormControlInvalidAndTouched('email')">
                            Gmail is required.
                        </small>
                        <small
                            *ngIf="userForm.get('email')?.hasError('email') && isFormControlInvalidAndTouched('email')">
                            Gmail does not match form
                        </small>
                        <small
                        *ngIf="userForm.get('email')?.hasError('duplicateEmail') && isFormControlInvalidAndTouched('email')">
                        Email is duplicate</small>
                    </div>
                    <div class="group-input">
                        <div class="title">Tài khoản</div>
                        <input class="input100" type="text" name="username" formControlName="login">
                        <small
                            *ngIf="userForm.get('login')?.hasError('required') && isFormControlInvalidAndTouched('login')">
                            Username is required.
                        </small>
                        <small
                        *ngIf="userForm.get('login')?.hasError('duplicateLogin') && isFormControlInvalidAndTouched('login')">Username
                        is duplicate</small>
                    </div>
                    <div class="group-input" *ngIf="showPassword">
                        <div class="title">Mật khẩu</div>
                        <input class="input100" type="password" name="password" formControlName="passwordHash">
                        <small
                            *ngIf="userForm.get('passwordHash')?.hasError('required') && isFormControlInvalidAndTouched('passwordHash')">
                            Password is required.
                        </small>
                    </div>
                    <div class="group-input">
                        <div class="title">Role</div>
                        <span class="p-float-label">
                            <p-autoComplete showClear="true" showEmptyMessage="true" required="true" class="p-fluid"
                                id="float-input-color" [dropdown]="true" (completeMethod)="filterList($event)"
                                [suggestions]="list" field="label" formControlName="authorities">
                            </p-autoComplete>
                        </span>
                        <small
                            *ngIf="userForm.get('authorities')?.hasError('required') && isFormControlInvalidAndTouched('authorities')">
                            Role is required.
                        </small>
                    </div>
                    <div class="button">
                        <button class="btnAdd" type="submit">Lưu</button>
                    </div>
                </form>
            </p-dialog>
        </div>
        <div class="search">

        </div>
        <div class="card">
            <p-table [value]="user" dataKey="login" [rows]="5" [paginator]="true"
                [tableStyle]="{ 'min-width': '60rem' }" [rowsPerPageOptions]="[5, 10, 25, 50]">
                <ng-template pTemplate="caption">
                    <div class="flex align-items-center justify-content-between">
                        <h5 class="m-0">Manage Users</h5>
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                                placeholder="Nhập tên người dùng..." />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 5rem"></th>
                        <th pSortableColumn="firstName">
                            <div class="th">name<p-sortIcon field="firstName"></p-sortIcon></div>
                        </th>
                        <th>Image</th>
                        <th pSortableColumn="email">
                            <div class="th">Email<p-sortIcon field="email"></p-sortIcon></div>
                        </th>
                        <th pSortableColumn="login">
                            <div class="th">Username<p-sortIcon field="login"></p-sortIcon></div>
                        </th>
                        <th pSortableColumn="createdBy">
                            <div class="th">CreatedBy <p-sortIcon field="createdBy"></p-sortIcon></div>
                        </th>
                        <th pSortableColumn="createdDate">
                            <div class="th">CreatedDate <p-sortIcon field="createdDate"></p-sortIcon></div>
                        </th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-user let-expanded="expanded">
                    <tr>
                        <td>
                            <button type="button" pButton pRipple [pRowToggler]="user"
                                class="p-button-text p-button-rounded p-button-plain"
                                [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
                                (click)="!expanded && getOrder(user)"></button>
                        </td>
                        <td>{{ user.firstName }}</td>
                        <td><img width="50" class="shadow-4" src="../../../assets/images/users/avatar-1.jpg" /></td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.login }}</td>
                        <td>{{ user.createdBy }}</td>
                        <td>{{ user.createdDate | date : 'dd/MM/yyyy'}}</td>
                        <td>
                            <div class="button-container">
                                <button pButton pRipple icon="pi pi-pencil"
                                    class="p-button-rounded p-button-success mr-2" *ngIf="user.status !== false"
                                    (click)="editUser(user)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger"
                                    (click)="deleteUser(user)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="rowexpansion" let-user>
                    <tr>
                        <td colspan="7">
                            <div class="p-3">
                                <p-table [value]="orderData[user.id]" dataKey="id" [rows]="5" [paginator]="true"
                                    [tableStyle]="{ 'min-width': '60rem' }">
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th pSortableColumn="code">
                                                <div class="th">Ma <p-sortIcon field="code"></p-sortIcon></div>
                                            </th>
                                            <th pSortableColumn="receivedBy">
                                                <div class="th">Người nhận<p-sortIcon field="receivedBy"></p-sortIcon></div>
                                            </th>
                                            <th pSortableColumn="createdDate">
                                                <div class="th">Ngày tạo <p-sortIcon field="customer"></p-sortIcon></div>
                                            </th>
                                            <th pSortableColumn="receivedDate">
                                                <div class="th">Ngày nhận<p-sortIcon field="date"></p-sortIcon></div>
                                            </th>
                                            <th pSortableColumn="totalPrice">
                                                <div class="th">Tổng giá <p-sortIcon field="totalPrice"></p-sortIcon></div>
                                            </th>
                                            <th pSortableColumn="status">
                                                <div class="th">Trạng thái <p-sortIcon field="status"></p-sortIcon></div>
                                            </th>
                                            <th style="width: 4rem"></th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-order>
                                        <tr>
                                            <td>{{ order.code }}</td>
                                            <td>{{ order.receivedBy }}</td>
                                            <td>{{ order.createdDate | date : 'dd/MM/yyyy'}}</td>
                                            <td>{{ order.receivedDate | date : 'dd/MM/yyyy'}}</td>
                                            <td>{{ order.totalPrice | currency:'VND' }}</td>
                                            <td>{{ order.status }}</td>
                                            <td><p-button type="button" icon="pi pi-plus"></p-button></td>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="emptymessage">
                                        <tr>
                                            <td colspan="6">Không có hóa đơn nào.</td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
    </div>
</body>