<body>
  <div class="danh-mc">
    <div class="div">
      <div class="text-wrapper">Danh sách danh mục</div>
      <div class="pagination">
        <div class="page"><img class="carat" /></div>
        <div class="page-active-wrapper">
          <div class="page-active"><div class="num">1</div></div>
        </div>
        <div class="page-2"><div class="num-2">2</div></div>
        <div class="page-2"><div class="num-2">...</div></div>
        <div class="page-2"><div class="num-2">9</div></div>
        <div class="page-2"><div class="num-2">10</div></div>
        <div class="page-2"><img class="carat" /></div>
      </div>
      <div class="group">
        <div class="overlap">
          <div class="search-light">
            <div class="overlap-group">
              <div class="ellipse"></div>
              <img class="vector" .s />
            </div>
          </div>
          <p class="p">Nhập mã hoặc tên danh mục</p>
        </div>
      </div>
      <div class="table">
        <div class="ct-cn-gia">
          <div class="frame"><div class="text-wrapper-2">STT</div></div>
          <div class="div-wrapper"><div class="text-wrapper-3">1</div></div>
          <div class="frame-2"><div class="text-wrapper-3">2</div></div>
          <div class="div-wrapper"><div class="text-wrapper-3">3</div></div>
          <div class="div-wrapper"><div class="text-wrapper-3">4</div></div>
          <div class="div-wrapper"><div class="text-wrapper-3">5</div></div>
          <div class="div-wrapper"><div class="text-wrapper-3">6</div></div>
          <div class="frame-3"><div class="text-wrapper-3">7</div></div>
          <div class="frame-4"><div class="text-wrapper-3">8</div></div>
          <div class="frame-4"><div class="text-wrapper-3">9</div></div>
          <div class="frame-5"><div class="text-wrapper-3">10</div></div>
        </div>
        <div class="ct-cn-gia-2">
          <div class="frame-6">
            <div class="text-wrapper-2">Mã danh mục</div>
          </div>
          <div class="frame-7"><div class="ABCD">ABDC</div></div>
          <div class="frame-8"><div class="ABCD">ABDC</div></div>
          <div class="frame-7"><div class="ABCD">ABDC</div></div>
          <div class="frame-7"><div class="ABCD">ABDC</div></div>
          <div class="frame-7"><div class="ABCD">ABDC</div></div>
          <div class="frame-7"><div class="ABCD">ABDC</div></div>
          <div class="frame-9"><div class="ABCD">ABDC</div></div>
          <div class="frame-9"><div class="ABCD">ABDC</div></div>
          <div class="frame-9"><div class="ABCD">ABDC</div></div>
          <div class="frame-9"><div class="ABCD">ABDC</div></div>
        </div>
        <div class="ct-cn-gia-3">
          <div class="frame-6">
            <div class="text-wrapper-2">Tên danh mục</div>
          </div>
          <div class="frame-7"><div class="text-wrapper-3">DV01</div></div>
          <div class="frame-8"><div class="text-wrapper-3">DV01</div></div>
          <div class="frame-7"><div class="text-wrapper-3">DV01</div></div>
          <div class="frame-7"><div class="text-wrapper-3">DV01</div></div>
          <div class="frame-7"><div class="text-wrapper-3">DV01</div></div>
          <div class="frame-7"><div class="text-wrapper-3">DV01</div></div>
          <div class="frame-9"><div class="text-wrapper-3">DV01</div></div>
          <div class="frame-9"><div class="text-wrapper-3">DV01</div></div>
          <div class="frame-9"><div class="text-wrapper-3">DV01</div></div>
          <div class="frame-9"><div class="text-wrapper-3">DV01</div></div>
        </div>
        <div class="ct-cn-gia-4">
          <div class="frame-6">
            <div class="text-wrapper-2">Người cập nhật</div>
          </div>
          <div class="frame-7"><div class="text-wrapper-3">Admin</div></div>
          <div class="ADMIN-wrapper">
            <div class="text-wrapper-3">Admin</div>
          </div>
          <div class="frame-7"><div class="text-wrapper-3">Admin</div></div>
          <div class="frame-7"><div class="text-wrapper-3">Admin</div></div>
          <div class="frame-7"><div class="text-wrapper-3">Admin</div></div>
          <div class="frame-7"><div class="text-wrapper-3">Admin</div></div>
          <div class="frame-7"><div class="text-wrapper-3">Admin</div></div>
          <div class="frame-7"><div class="text-wrapper-3">Admin</div></div>
          <div class="frame-7"><div class="text-wrapper-3">Admin</div></div>
          <div class="frame-7"><div class="text-wrapper-3">Admin</div></div>
        </div>
        <div class="ct-cn-gia-5">
          <div class="frame-6">
            <div class="text-wrapper-4">Ngày cập nhật</div>
          </div>
          <div class="frame-4">
            <div class="text-wrapper-3">01/08/2022</div>
          </div>
          <div class="frame-10">
            <div class="text-wrapper-3">01/08/2022</div>
          </div>
          <div class="frame-4">
            <div class="text-wrapper-3">01/08/2022</div>
          </div>
          <div class="frame-4">
            <div class="text-wrapper-3">01/08/2022</div>
          </div>
          <div class="frame-4">
            <div class="text-wrapper-3">01/08/2022</div>
          </div>
          <div class="frame-4">
            <div class="text-wrapper-3">01/08/2022</div>
          </div>
          <div class="frame-4">
            <div class="text-wrapper-3">01/08/2022</div>
          </div>
          <div class="frame-4">
            <div class="text-wrapper-3">01/08/2022</div>
          </div>
          <div class="frame-4">
            <div class="text-wrapper-3">01/08/2022</div>
          </div>
          <div class="frame-4">
            <div class="text-wrapper-3">01/08/2022</div>
          </div>
        </div>
        <div class="ct-cn-gia-6">
          <div class="frame"><div class="text-wrapper-2">Hành dộng</div></div>
          <div class="frame-11">
            <div class="element">
              <div class="iconly-bold-delete"><div class="delete"></div></div>
            </div>
            <img class="element" />
          </div>
          <div class="frame-12">
            <div class="element">
              <div class="iconly-bold-delete">
                <div class="delete-2"></div>
              </div>
            </div>
            <img class="element" />
          </div>
          <div class="frame-11">
            <div class="element">
              <div class="iconly-bold-delete">
                <div class="delete-3"></div>
              </div>
            </div>
            <img class="element" />
          </div>
          <div class="frame-11">
            <div class="element">
              <div class="iconly-bold-delete">
                <div class="delete-4"></div>
              </div>
            </div>
            <img class="element" />
          </div>
          <div class="frame-11">
            <div class="element">
              <div class="iconly-bold-delete">
                <div class="delete-5"></div>
              </div>
            </div>
            <img class="element" />
          </div>
          <div class="frame-11">
            <div class="element">
              <div class="iconly-bold-delete">
                <div class="delete-6"></div>
              </div>
            </div>
            <img class="element" />
          </div>
          <div class="frame-13">
            <div class="element">
              <div class="iconly-bold-delete">
                <div class="delete-7"></div>
              </div>
            </div>
            <img class="element" />
          </div>
          <div class="frame-13">
            <div class="element">
              <div class="iconly-bold-delete">
                <div class="delete-8"></div>
              </div>
            </div>
            <img class="element" />
          </div>
          <div class="frame-13">
            <div class="element">
              <div class="iconly-bold-delete">
                <div class="delete-9"></div>
              </div>
            </div>
            <img class="element" />
          </div>
          <div class="frame-13">
            <div class="element">
              <div class="iconly-bold-delete">
                <div class="delete-10"></div>
              </div>
            </div>
            <img class="element" />
          </div>
        </div>
      </div>
      <div class="button-lu"><div class="text-wrapper-5">Thêm mới</div></div>
      <div class="menu">
        <div class="frame-14">
          <div class="overlap-group-2">
            <div class="text-wrapper-6">SPORTKICK</div>
            <div class="text-wrapper-7">Shoes Shop</div>
          </div>
          <img class="rectangle" 4.png />
        </div>
        <div class="frame-15">
          <div class="menu-hover">
            <div class="frame-16">
              <img class="img" />
              <div class="qu-n-l-i-u-ki-n-l-c">Quản lý tài khoản</div>
            </div>
          </div>
          <div class="frame-wrapper">
            <div class="frame-16">
              <img class="img" />
              <div class="qu-n-l-i-u-ki-n-l-c">Thông tin tài khoản</div>
            </div>
          </div>
          <div class="menu-hover">
            <div class="frame-16">
              <img class="img" />
              <div class="qu-n-l-i-u-ki-n-l-c">Quản lý danh mục</div>
            </div>
          </div>
          <div class="menu-hover-2">
            <div class="frame-16">
              <img class="img" />
              <div class="qu-n-l-i-u-ki-n-l-c">Giảm giá và voucher</div>
            </div>
          </div>
          <div class="menu-hover-3">
            <div class="frame-16">
              <img class="img" />
              <div class="qu-n-l-i-u-ki-n-l-c">Chương trình giảm giá</div>
            </div>
          </div>
          <div class="menu-hover-3">
            <div class="frame-16">
              <img class="img" />
              <div class="qu-n-l-i-u-ki-n-l-c">Quản lý voucher</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
