<div class="container-fuild">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-12">
          <div class="row">
            <div class="col-10">
              <div class="flex align-items-center justify-content-between">
                <div class="row">
                  <div class="col-7"><h3>Danh sách danh mục</h3></div>
                  <div class="col-5">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"
                          ><i class="dripicons-search"></i
                        ></span>
                      </div>
                      <input
                        type="text"
                        [(ngModel)]="searchText"
                        (change)="searchShoesCategory()"
                        class="form-control"
                        placeholder="Nhập tên hoặc mã giá trị danh mục"
                        aria-label="Username"
                        aria-describedby="basic-addon1"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-2">
              <div class="flex align-items-center flex-row-reverse">
                <p-button label="Thêm mới" (click)="openNew()"></p-button>

                <p-dialog
                  header="Danh mục chi tiết"
                  [(visible)]="shoesCategoryDialog"
                  [modal]="true"
                  styleClass="container-fuild"
                  [draggable]="false"
                  [resizable]="true"
                >
                  <div class="card">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-6">
                          <div class="form-group">
                            <label for="categoryCode">Mã danh mục</label>
                            <input
                              type="text"
                              class="form-control"
                              [(ngModel)]="shoesCategory.code"
                              id="categoryCode"
                              aria-describedby="emailHelp"
                              placeholder="Nhập mã danh mục"
                            />
                          </div>
                        </div>
                        <div class="col-6">
                          <div class="form-group">
                            <label for="categoryCode">Tên danh mục</label>
                            <input
                              type="text"
                              class="form-control"
                              [(ngModel)]="shoesCategory.name"
                              id="categoryCode"
                              aria-describedby="emailHelp"
                              placeholder="Nhập mã tên danh mục"
                            />
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-12">
                          <div class="row">
                            <div class="col-2">
                              <div
                                class="flex align-items-center justify-content-between"
                              >
                                <h4>Danh sách giá trị</h4>
                              </div>
                            </div>
                            <div class="col-4">
                              <div class="input-group">
                                <div class="input-group-prepend">
                                  <span
                                    class="input-group-text"
                                    id="basic-addon1"
                                    ><i class="dripicons-search"></i
                                  ></span>
                                </div>
                                <input
                                  type="text"
                                  class="form-control"
                                  placeholder="Nhập tên hoặc mã giá trị danh mục"
                                  aria-label="Username"
                                  aria-describedby="basic-addon1"
                                />
                              </div>
                            </div>
                            <div class="col-6">
                              <div
                                class="flex align-items-center flex-row-reverse"
                              >
                                <p-button
                                  label="Thêm mới giá trị"
                                  (click)="openNewCategoryValue()"
                                ></p-button>
                                <p-dialog
                                  header="Thêm mới giá trị"
                                  [(visible)]="shoesCategoryValueDialog"
                                  [modal]="true"
                                  styleClass="container-fuild"
                                  [draggable]="false"
                                  [resizable]="true"
                                >
                                  <form action="">
                                    <div class="row">
                                      <div class="col-6">
                                        <div class="form-group">
                                          <label for="categoryCode"
                                            >Giá trị danh mục</label
                                          >
                                          <input
                                            type="text"
                                            class="form-control"
                                            [(ngModel)]="
                                              shoesCategoryValue.value
                                            "
                                            name="value"
                                            id="value"
                                            aria-describedby="emailHelp"
                                            placeholder="Nhập mã danh mục"
                                          />
                                        </div>
                                      </div>
                                      <div class="col-6">
                                        <div class="form-group">
                                          <label for="categoryCode"
                                            >Mô tả</label
                                          >
                                          <input
                                            type="text"
                                            class="form-control"
                                            id="description"
                                            [(ngModel)]="
                                              shoesCategoryValue.description
                                            "
                                            name="description"
                                            aria-describedby="emailHelp"
                                            placeholder="Nhập mã tên danh mục"
                                          />
                                        </div>
                                      </div>
                                      <div class="col-12 flex flex-row-reverse">
                                        <p-button
                                          label="Lưu"
                                          (click)="
                                            addShoesCategoryValue(
                                              shoesCategoryValue
                                            )
                                          "
                                        ></p-button>
                                      </div>
                                    </div>
                                  </form>
                                </p-dialog>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-12">
                          <p-table
                            [value]="shoesCategoryValues"
                            [tableStyle]="{ 'min-width': '60rem' }"
                            styleClass="p-datatable-gridlines  table table-centered w-100 dt-responsive nowrap dataTable no-footer dtr-inline"
                            [paginator]="true"
                            [rows]="5"
                            [rowsPerPageOptions]="[5, 10, 15]"
                            *ngIf="visible"
                          >
                            <ng-template pTemplate="header">
                              <tr>
                                <th>STT</th>
                                <th>Giá trị</th>
                                <th>Mô tả</th>
                                <th>Người sửa</th>
                                <th>Ngày sửa</th>
                                <th></th>
                              </tr>
                            </ng-template>
                            <ng-template
                              pTemplate="body"
                              let-shoesCategoryValue
                              let-index="rowIndex"
                            >
                              <tr *ngIf="shoesCategoryValue.status === 1">
                                <td>{{ index + 1 }}</td>
                                <td>{{ shoesCategoryValue.value }}</td>
                                <td>{{ shoesCategoryValue.description }}</td>
                                <td>{{ shoesCategoryValue.lastModifiedBy }}</td>
                                <td>
                                  {{
                                    shoesCategoryValue.lastModifiedDate
                                      | date : "dd-MM-yyyy"
                                  }}
                                </td>
                                <td class="table-action">
                                  <a
                                    type="button"
                                    (click)="updateShoesCategoryValue(index)"
                                    href="javascript:void(0);"
                                    class="action-icon"
                                  >
                                    <i class="mdi mdi-square-edit-outline"></i
                                  ></a>
                                  <a
                                    type="button"
                                    (click)="
                                      confirmDeleteShoesCategoryValue(index)
                                    "
                                    href="javascript:void(0);"
                                    class="action-icon"
                                  >
                                    <i class="mdi mdi-delete"></i
                                  ></a>
                                </td>
                              </tr>
                            </ng-template>
                          </p-table>
                        </div>
                        <div class="col-12 flex flex-row-reverse">
                          <p-button
                            label="Lưu"
                            (click)="confirmUpdateShoesCategory()"
                          ></p-button>
                        </div>
                      </div>
                    </div>
                  </div>
                </p-dialog>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <p-table
            [value]="shoesCategories"
            [tableStyle]="{ 'min-width': '60rem' }"
            styleClass="p-datatable-gridlines table table-centered w-100 dt-responsive nowrap dataTable no-footer dtr-inline"
            [paginator]="true"
            [rows]="10"
            [rowsPerPageOptions]="[10, 25, 50]"
          >
            <ng-template pTemplate="header">
              <tr>
                <th>STT</th>
                <th>Mã danh mục</th>
                <th>Tên danh mục</th>
                <th>Người sửa</th>
                <th>Ngày sửa</th>
                <th></th>
              </tr>
            </ng-template>
            <ng-template
              pTemplate="body"
              let-shoesCategory
              let-index="rowIndex"
            >
              <tr>
                <td>{{ index + 1 }}</td>
                <td>{{ shoesCategory.code }}</td>
                <td>{{ shoesCategory.name }}</td>
                <td>{{ shoesCategory.lastModifiedBy }}</td>
                <td>
                  {{ shoesCategory.lastModifiedDate | date : "dd-MM-yyyy" }}
                </td>
                <td class="table-action">
                  <a
                    type="button"
                    (click)="update(shoesCategory.id)"
                    href="javascript:void(0);"
                    class="action-icon"
                  >
                    <i class="mdi mdi-square-edit-outline"></i
                  ></a>
                  <a
                    type="button"
                    href="javascript:void(0);"
                    class="action-icon"
                    (click)="confirmDelete(shoesCategory.id)"
                  >
                    <i class="mdi mdi-delete"></i
                  ></a>
                </td>
              </tr>
            </ng-template>
          </p-table>
          <div class="dialog">
            <p-toast></p-toast>
            <p-confirmDialog [style]="{ width: '50vw' }"></p-confirmDialog>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
