<div class="cover">
    <div class="group">
        <div class="div">
            <div class="group-2">
                <form action=""></form>
                <div class="group-3">
                    <div class="text-wrapper">Mã xác nhận</div>
                    <div class="overlap-group-wrapper">
                        <div class="overlap-group">
                            <input class="input100" type="text" name="username" placeholder="Nhập mã xác nhận"
                                [(ngModel)]="key">
                        </div>

                    </div>
                </div>
                <div class="overlap-wrapper">
                    <div class="overlap">
                        <div class="text-wrapper-3" (click)="confirm()">Xác nhận</div>
                    </div>
                </div>
            </div>
            <div routerLink="/login" class="text-wrapper-4">Quay lại</div>
            <div class="group-4">
                <div class="text-wrapper-5">Quên mật khẩu?</div>
            </div>
        </div>
    </div>
</div>