<div class="cover">
    <p-toast></p-toast>
        <div class="box">
            <div class="group">
                <div class="overlap">
                    <div class="rectangle"></div>
                    <div class="div">
                        <div class="group-2">
                            <div class="group-3">
                                <div class="text-wrapper">Mật khẩu mới</div>
                                <div class="overlap-group-wrapper">
                                    <div class="overlap-group">
                                        <input class="rectangle-2" type="password" name="newPassword" [(ngModel)]="newPassword"
                                    placeholder="Nhập mật khẩu mới của bạn">
                                    </div>
                                </div>
                            </div>
                            <div class="group-4">
                                <div class="text-wrapper-3">Mã xác nhận</div>
                                <div class="overlap-group-wrapper">
                                    <div class="overlap-group">
                                        <input class="rectangle-2" type="text" name="key" [(ngModel)]="key"
                                    placeholder="Nhập mã xác nhận">
                                    </div>
                                </div>
                            </div>
                            <div class="overlap-wrapper">
                                <div class="div-wrapper">
                                    <div class="text-wrapper-5" (click)="confirm()">Xác nhận đổi mật khẩu</div>
                                </div>
                            </div>
                        </div>
                        <div class="text-wrapper-6" routerLink="/login">Quay lại đăng nhập</div>
                        <div class="group-5">
                            <div class="text-wrapper-7">Đổi mật khẩu?</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>