<div class="card">
  <p-tabView #dshd>
    <p-tabPanel header="Danh sách yêu cầu đổi trả">
      <ul class="nav nav-tabs" role="tablist">
        <li
          *ngFor="let item of this.listMenuItems"
          class="nav-item"
          role="presentation"
          style="width: 16.66%; cursor: pointer"
        >
          <a
            class="nav-link"
            data-bs-toggle="tab"
            aria-selected="false"
            role="tab"
            tabindex="-1"
            style="
              display: flex;
              align-items: center;
              justify-content: center;
              height: 50px;
            "
            (click)="clickListOder(item.name)"
            [class]="checkString == item.name ? 'text-primaryyy' : ''"
          >
            {{ item.name }}
            <span style="margin-bottom: 15px">
              <p-badge [value]="item.quantity"></p-badge>
            </span>
          </a>
        </li>
      </ul>
      <ng-container *ngIf="this.check === true">
        <p-table
          #dt
          [value]="listOderReturn"
          [rows]="5"
          [paginator]="true"
          [globalFilterFields]="[
            'name',
            'country.name',
            'representative.name',
            'status'
          ]"
          [tableStyle]="{ 'min-width': '75rem' }"
          [(selection)]="selectedOrders"
          [rowHover]="true"
          dataKey="id"
          currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
          [showCurrentPageReport]="true"
        >
          <ng-template pTemplate="header">
            <tr>
              <th style="width: 4rem">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
              </th>
              <th style="width: 15rem">Mẫ yêu cầu</th>
              <th pSortableColumn="name" style="min-width: 15rem">Mã HĐ</th>
              <th>Khách hàng</th>
              <th pSortableColumn="price">Số điện thoại</th>
              <th pSortableColumn="category" style="min-width: 10rem">
                Nhân Viên
              </th>
              <th pSortableColumn="inventoryStatus" style="min-width: 10rem">
                Ngày tạo
              </th>
              <th></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-order>
            <tr>
              <td>
                <p-tableCheckbox [value]="order"></p-tableCheckbox>
              </td>
              <td>{{ order.orderReturnCode }}</td>
              <td>{{ order.orderCode }}</td>
              <td>
                {{ order.login }}
              </td>
              <td>{{ order.phone }}</td>
              <td>{{ order.lastModifiedBy }}</td>

              <td>
                {{ order.createdDate | date : "dd-MM-yyyy" }}
              </td>
              <td>
                <button
                  pButton
                  pRipple
                  icon="pi pi-pencil"
                  class="p-button-rounded p-button-success mr-2"
                  (click)="cancelOrderReturn(order.id)"
                  *ngIf="order.status == 1"
                ></button>
                <button
                  pButton
                  pRipple
                  icon="pi pi-check"
                  class="p-button-rounded p-button-success mr-2"
                  (click)="finish(order.id)"
                  *ngIf="order.status == 2"
                ></button>
                <button
                  pButton
                  pRipple
                  icon="pi pi-eye"
                  class="p-button-rounded p-button-success mr-2"
                  (click)="showOrderReturnDetails(order.id)"
                ></button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </ng-container>
      <div class="dialog">
        <p-toast></p-toast>
        <p-confirmDialog [style]="{ width: '50vw' }"></p-confirmDialog>
      </div>
      <!-- <ng-container *ngIf="this.checkOne === true">
        <p-table
          #dt
          [value]="orders"
          [rows]="5"
          [paginator]="true"
          [globalFilterFields]="[
            'name',
            'country.name',
            'representative.name',
            'status'
          ]"
          [tableStyle]="{ 'min-width': '75rem' }"
          [(selection)]="selectedProducts"
          [rowHover]="true"
          dataKey="id"
          currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
          [showCurrentPageReport]="true"
        >
          <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="name" style="min-width: 15rem">Mã HĐ</th>
              <th>Khách hàng</th>
              <th pSortableColumn="price">Số điện thoại</th>
              <th pSortableColumn="category" style="min-width: 10rem">
                Nhân Viên
              </th>
              <th pSortableColumn="rating">Tổng tiền</th>
              <th pSortableColumn="inventoryStatus" style="min-width: 10rem">
                Ngày mua
              </th>
              <th></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-order>
            <tr>
              <td>{{ order.code }}</td>
              <td>
                {{ order.customer }}
              </td>
              <td>{{ order.phone }}</td>
              <td>{{ order.lastModifiedBy }}</td>
              <td>
                {{ order.totalPrice | currency : "VND" }}
              </td>
              <td>
                {{ order.createdDate | date : "dd-MM-yyyy" }}
              </td>
              <td>
                <button
                  pButton
                  pRipple
                  icon="pi pi-pencil"
                  class="p-button-rounded p-button-success mr-2"
                  (click)="editProduct(order)"
                ></button>
                <button
                  pButton
                  pRipple
                  icon="pi pi-eye"
                  class="p-button-rounded p-button-success mr-2"
                  (click)="showOrderReturnDetails(order.id)"
                ></button>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="summary">
            <div style="text-align: right">
              <p-button
                label="Hủy"
                styleClass="p-button-outlined"
                *ngIf="
                  checkString == 'Chờ thanh toán' || checkString == 'Chờ xác nhận'
                "
              ></p-button>
              <span style="margin-left: 10px">
                <p-button
                  label="Xác nhận"
                  styleClass="p-button-outlined"
                  *ngIf="checkString == 'Chờ xác nhận'"
                ></p-button>
              </span>
            </div>
          </ng-template>
        </p-table>
      </ng-container> -->
    </p-tabPanel>
  </p-tabView>
</div>
