.headerTable th {
  text-align: center;
}
.bodyTable td {
  text-align: center;
}
::ng-deep .button-height.p-button-icon-only {
  height: 30px;
}

.table-container {
  height: 33vw;
  overflow: auto;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
