<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <div class="login100-pic js-tilt" data-tilt>
        <img src="assets/images/img-01.png" alt="IMG" />
      </div>

      <form class="login100-form validate-form" #loginForm="ngForm">
        <div *ngIf="loginForm.form.valid; then noMsg; else errorMsg"></div>

        <ng-template class="login100-form-title" #noMsg>
          <span class="login100-form-title">
            Đăng nhập
            <br /><br />
          </span>
        </ng-template>
        <p-toast></p-toast>
        <ng-template class="login100-form-title" #errorMsg>
          <span class="login100-form-title err"> Sai thông tin đăng nhập </span>
        </ng-template>

        <div class="wrap-input100 validate-input">
          <input
            class="input100"
            type="text"
            name="username"
            [(ngModel)]="loginUser.login"
            placeholder="tài khoản"
            ngModel
          />
          <span class="focus-input100"></span>
          <span class="symbol-input100">
            <i class="fa fa-envelope" aria-hidden="true"></i>
          </span>
        </div>
        <div
          class="wrap-input100 validate-input"
          data-validate="Password is required"
        >
          <input
            class="input100"
            type="password"
            name="password"
            [(ngModel)]="loginUser.passwordHash"
            placeholder="mật khẩu"
            ngModel
          />
          <span class="focus-input100"></span>
          <span class="symbol-input100">
            <i class="fa fa-lock" aria-hidden="true"></i>
          </span>
        </div>
        <div class="container-login100-form-btn">
          <button type="button" class="login100-form-btn" (click)="login()">
            Đăng nhập
          </button>
        </div>
        <div class="justify-content-between">
          <a routerLink="/forgot-password" class="">
            <small>Quên mật khẩu?</small>
          </a>
          <!-- <a routerLink="/register" class="">
            <small>Tạo tài khoản</small>
          </a> -->
        </div>
      </form>
    </div>
  </div>
</div>
