<body>
    <div class="container">
        <div class="content">
            <div class="row">
                <div class="col-1"></div>
                <div class="col-10">
                    <div class="row">
                        <div class="col-3">
                            <div class="img">
                                <img src="../../../assets/images/users/avatar-1.jpg" alt="">
                            </div>
                            <div class="chao"><h4>Xin chào {{user?.firstName}}</h4></div>
                            <a href="your_link_here" class="account">
                                <i class="pi pi-user"></i>
                                <p>Thông tin tài khoản</p>
                            </a>
                            <a href="" class="order" [routerLink]="'/client/user-order'">
                                <i class="pi pi-book"></i>
                                <p>Quản lý đơn hàng</p>
                            </a>
                            <a href="your_link_here" class="address">
                                <i class="pi pi-tags"></i>
                                <p>Danh sách địa chỉ</p>
                            </a>
                            <a href="your_link_here" class="sign-out">
                                <i class="pi pi-sign-out"></i>
                                <p>Đăng xuất</p>
                            </a>
                        </div>
                        <div class="col-9">
                            <div><h2 class="title">Thông tin tài khoản</h2></div>
                            <div class="row inf">
                                <div class="col-2">
                                    <div class="title-name">Họ và tên: </div>
                                    <div class="title-email">Email: </div>
                                    <div class="title-dob">Ngày sinh: </div>
                                    <div class="title-phone">SĐT: </div>
                                </div>
                                <div class="col-6">
                                    <div class="name">{{user?.lastName + ' ' + user?.firstName}}</div>
                                    <div class="email">{{user?.email}}</div>
                                    <div class="dob">5/1/2003</div>
                                    <div class="phone">0979334308</div>
                                </div>
                                <div class="col-4">
                                    <p-button label="CẬP NHẬT THÔNG TIN"></p-button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-1"></div>
            </div>
        </div>
    </div>
</body>