<body class="body">
    <div class="container">
        <div class="title">
            <h1 class="title-1">Hồ sơ của tôi</h1>
            <p class="title-2">Quản lý thông tin hồ sơ</p>
        </div>
        <div class="content">
            <div class="col-lg-8">
                <table>
                    <tr>
                        <td class="title-content"><label>Tên</label></td>
                        <td class="body-content">
                            <div>
                                <div>Dương lê</div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="title-content"><label>Email</label></td>
                        <td class="body-content">
                            <div>
                                <div>duongle5279@gmail.com</div>
                                <button>Thay đổi</button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="title-content"><label>Số điện thoại</label></td>
                        <td class="body-content">
                            <div>
                                <div>0979334308</div>
                                <button>Thay đổi</button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="body-btn">
                            <div>
                                <button>Lưu</button>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-lg-4"></div>
        </div>
    </div>
</body>