.title{
    border-bottom: solid 1px;
}
.title-1{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 0px;
}
.content{
    padding-top: 30px;
}
.col-lg-8{
    border-right: 1px solid black;
}
tr{
    height: 48px;
}
.title-content {
    text-align: right;
    padding-bottom: 30px;
}
.body-content {
    padding: 0 0 30px 20px;
}
.body-content div{
    display: flex;
}
.body-content button{
    border: none;
    color: blue;
    text-decoration: underline;
    background-color: white;
    font-size: 14px;
}
.body-btn{
    padding: 0 0 30px 20px;
}