<div class="footerclient">
  <div class="container">
    <div class="row">
      <div class="col-4">
        <div class="footer_detail">
          <h3 style="color: #049d16; font-weight: 700">VỀ SPORTKICK</h3>
          <p>
            Hệ thống bán lẻ bán buôn giày thể thao là đơn vị chuyên sản xuất và
            phân phối các sản phẩm giày thể thao chuyên nghiệp. Tại đây bạn có
            thể dễ dàng mua Giày thể thao chất lượng cao, chính hãng ...
          </p>
        </div>
      </div>
      <div class="col-4">
        <div class="footer_detail">
          <h3>ĐĂNG KÝ NHẬN TIN KHUYẾN MÃI</h3>
          <p>
            Nhập email của bạn để chúng tôi gửi email ngay khi có thông tin về
            những chương trình khuyến mãi mới.
          </p>
          <p><input type="text" placeholder="Nhập Email của bạn" /></p>
          <p>
            <button type="button" class="btn btn-outline-success">
              Success
            </button>
          </p>
        </div>
      </div>
      <div class="col-4">
        <div class="footer_detail">
          <h3>Thông tin liên hệ</h3>
          <p style="color: #049d16; font-weight: 700">SPORTKICK</p>
          <p>Địa chỉ: Số 1 Trịnh Văn Bô - Nam Từ Liêm - Hà Nội</p>
          <p>Hotline: <span class="call-email">0867934811</span></p>
          <p>
            Email : <span class="call-email">quyetndph27146@fpt.edu.vn</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
