@import url("/src/assets/css/app-creative-dark.css");
@import url("/src/assets/css/app-creative.css");
@import url("/src/assets/css/icons.css");
.text-primaryyy {
  background: hsl(208, 94%, 57%);
  color: black !important;
}
::ng-deep .p-orderlist .p-orderlist-controls {
  display: none;
}
::ng-deep .p-orderlist .p-orderlist-header {
  display: none;
}
::ng-deep .p-treeselect-label-container {
  height: 37px;
}
