/* @import url("../../../../node_modules/bootstrap/dist/css/bootstrap.css"); */
@import url("../../../../src/assets/css/app-creative.css");
.text-primaryyy {
  background: #2a97f8;
  color: black !important;
}
::ng-deep .p-orderlist .p-orderlist-controls {
  display: none;
}
::ng-deep .p-orderlist .p-orderlist-header {
  display: none;
}
::ng-deep .p-treeselect-label-container {
  height: 37px;
}
