<head>
    <title>SPORT KICK</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            font-family: Arial, sans-serif;
        }

        header,
        footer {
            background-color: #333;
            color: white;
            text-align: center;
            padding: 1em;
        }

        #intro,
        #featured-products {
            margin: 2em 5%;
        }

        .product {
            margin-top: 1em;
        }

        img {
            max-width: 100%;
            height: auto;
        }
    </style>
</head>

<body>

    <header>
        <h1>SPORT KICK</h1>
        <p>Điểm đến lý tưởng cho tín đồ thời trang giày</p>
    </header>

    <section id="intro">
        <h2>Chào mừng bạn đến với SPORT KICK</h2>
        <p>Tại SPORT KICK, chúng tôi tin rằng mỗi bước đi đều có thể trở nên đặc biệt hơn với một đôi giày hoàn hảo. Từ
            những đôi giày thể thao năng động đến những đôi giày cao gót thanh lịch, chúng tôi cung cấp một loạt sản
            phẩm đa dạng, phù hợp với mọi nhu cầu và sở thích của bạn.</p>
        <p src="" alt="Cửa hàng SPORT KICK">
        <p-image src="../../../../assets/images/slide_show_2.jpg" alt="Image" width="100%" height="500"></p-image>
    </section>

    <section id="featured-products">
        <h2>Sản phẩm nổi bật</h2>
        <div class="product">
            <p-image src="../../../../assets/images/nikke.jpg" alt="Image" width="100%" ></p-image>
            <h3>Giày Sneaker Cao Cấp</h3>
            <p>Mang lại sự thoải mái và phong cách, đôi giày sneaker này là lựa chọn hoàn hảo cho mọi hoạt động hàng
                ngày của bạn.</p>
        </div>
        <div class="content-section">
            <h2>Liên Hệ</h2>
            <p>Để biết thêm thông tin, vui lòng liên hệ với chúng tôi qua các kênh sau:</p>
            <p><strong>Email:</strong> contact@sportkic.com</p>
            <p><strong>Điện thoại:</strong> 0867934811</p>
            <p><strong>Địa chỉ:</strong> Số 1 Trịnh Văn Bô - Nam Từ Liêm - Hà Nội</p>
            <p><strong>Giờ làm việc:</strong> Thứ Hai - Thứ Sáu, 9:00 - 18:00</p>
        </div>
       
    </section>


    
   

</body>