:root {
  --greygrey-5: rgba(249, 250, 251, 1);
  --greygrey-20: rgba(229, 231, 235, 1);
  --greygrey-40: rgba(156, 163, 175, 1);
  --greygrey-0: rgba(255, 255, 255, 1);
  --greygrey-90: rgba(17, 24, 39, 1);
  --greygrey-50: rgba(107, 114, 128, 1);
  --violetviolet-60: rgba(124, 58, 237, 1);
  --greygrey-30: rgba(209, 213, 219, 1);
  --primary-1: rgba(51, 108, 251, 1);
  --greygrey-10: rgba(243, 244, 246, 1);
  --inter-small-regular-font-family: "Inter-Regular", Helvetica;
  --inter-small-regular-font-weight: 400;
  --inter-small-regular-font-size: 12px;
  --inter-small-regular-letter-spacing: 0px;
  --inter-small-regular-line-height: 20px;
  --inter-small-regular-font-style: normal;
  --inter-small-semibold-font-family: "Inter-SemiBold", Helvetica;
  --inter-small-semibold-font-weight: 600;
  --inter-small-semibold-font-size: 12px;
  --inter-small-semibold-letter-spacing: 0px;
  --inter-small-semibold-line-height: 20px;
  --inter-small-semibold-font-style: normal;
  --inter-xlarge-semibold-font-family: "Inter-SemiBold", Helvetica;
  --inter-xlarge-semibold-font-weight: 600;
  --inter-xlarge-semibold-font-size: 24px;
  --inter-xlarge-semibold-letter-spacing: 0px;
  --inter-xlarge-semibold-line-height: 36px;
  --inter-xlarge-semibold-font-style: normal;
  --inter-base-semibold-font-family: "Inter-SemiBold", Helvetica;
  --inter-base-semibold-font-weight: 600;
  --inter-base-semibold-font-size: 14px;
  --inter-base-semibold-letter-spacing: 0px;
  --inter-base-semibold-line-height: 24px;
  --inter-base-semibold-font-style: normal;
  --inter-base-regular-font-family: "Inter-Regular", Helvetica;
  --inter-base-regular-font-weight: 400;
  --inter-base-regular-font-size: 14px;
  --inter-base-regular-letter-spacing: 0px;
  --inter-base-regular-line-height: 24px;
  --inter-base-regular-font-style: normal;
}

.overlap {
  position: absolute;
  width: 87.5%;
  height: 100%;
  left: 12.5%;
  overflow: auto;
}
.menu {
  position: fixed;
  width: 12.5%;
  height: 100vh;
  align-items: center;
  gap: 34.17px;
  padding: 9px 0px;
  background-color: #6e45c5;
}
